<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE suite SYSTEM "testng-1.0.dtd"> -->
<suite name="ConnectedH Automation">

	<parameter name="browser" value="Chrome" />
	<parameter name="siteURL"
		value="https://crm.connectedh.com/login" />
	<parameter name="userName" value="demo" />
	<parameter name="password" value="qwerty@123" />

	<listeners>
		<listener class-name="com.connectedh.util.TestListener"></listener>
	</listeners>

	<test name="ConnectedH Login Test">
		<classes>
			<class name="com.connectedh.test.ConnectedHLoginTest" />
			<class name="com.connectedh.test.ConnectedHLogOutTest" />
			<class name="com.connectedh.test.ConnectedHBookingManagerTest" />
			<class name="com.connectedh.test.ConnectedHAddPhleboTest" />
			
		</classes>
	</test>

</suite>